body
{
	overflow-x:hidden !important;
	margin:0px;
	padding: 0px;
}
$mc:#44bdf0;
$sc:#cfa448;
$border:#a8c3e0;
$facebook:#3b5998;	
$skype:#00aff0;	
$twitter:#1da1f2;
$gmail:#dd4b39;
$instagram:#c13584;
$snapchat:#fffc00;
$linkedin:#0077b5;
ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
%flex-center-all
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	align-content: center;
	-ms-flex-line-pack: center;
}
%flex-start-all
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	align-content: flex-start;
	-ms-flex-line-pack: start;
}
%transition-400
{
-webkit-transition: all 400ms linear;
-moz-transition: all 400ms linear;
-ms-transition: all 400ms linear;
-o-transition: all 400ms linear;
transition: all 400ms linear;
}
%transition-300
{
-webkit-transition: all 300ms linear;
-moz-transition: all 300ms linear;
-ms-transition: all 300ms linear;
-o-transition: all 300ms linear;
transition: all 300ms linear;
}
%transition-200
{
-webkit-transition: all 200ms linear;
-moz-transition: all 200ms linear;
-ms-transition: all 200ms linear;
-o-transition: all 200ms linear;
transition: all 200ms linear;
}
%transition-100
{
-webkit-transition: all 100ms linear;
-moz-transition: all 100ms linear;
-ms-transition: all 100ms linear;
-o-transition: all 100ms linear;
transition: all 100ms linear;
}
.padding-0
{
	padding: 0;
}
form
{
	input
	{
		font-family: Kufi-Regular,GESSUnique;
	}
}
a
{
	text-decoration: none !important;
}
