@font-face{
	font-family: FontAwesome;
	src: url("../fonts/FontAwesome.otf");
}

@font-face{
	font-family: sou-r;
	src: url("../fonts/SourceSansPro-Regular.ttf");
}
@font-face{
	font-family: OpenSans-i;
	src: url("../fonts/OpenSans-Italic.ttf");
}
@font-face{
	font-family: sou-b;
	src: url("../fonts/SourceSansPro-Bold.otf");
}
@font-face{
	font-family: OpenSans-b;
	src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face{
	font-family: OpenSans-l;
	src: url("../fonts/OpenSans-Light.ttf");
}
@font-face{
	font-family: OpenSans-r;
	src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face{
	font-family: PRISTINA;
	src: url("../fonts/PRISTINA.TTF");
}
