footer
{
  float: left;
  width: 100%;
  margin-top: 80px;
  padding: 80px 0;
  background-color: #f9f9f9;
  img
  {
    margin-bottom: 30px;
  }
  h3
  {
    margin-bottom: 50px;
    font-family: OpenSans-b;
    color:#333333;
    font-size: 21px;
  }
  h4
  {
    margin-bottom: 30px;
    margin-top: 60px;
    font-family: OpenSans-b;
    color:#333333;
    font-size: 18px;
  }
  .list
  {
    li
    {
      margin-bottom: 15px;
      font-family: sou-r;
      font-size: 16px;
      @extend %transition-200;

      a
      {
        color:#555555;

      }
      &:hover
      {
        margin-left: 7px;
        @extend %transition-200;
        a
        {
          color: $mc;
        }
      }
    }
  }
  p
  {
    line-height: 30px;
    color:#555555;
    font-family: sou-r;
    font-size: 16px;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: OpenSans-i;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-family: OpenSans-i;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-family: OpenSans-i;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-family: OpenSans-i;
  }
  .social-bottom
  {
    float: left;
    width: 100%;

    li
    {
      float: left;
      margin-right: 10px;
      width: 40px;
      height: 40px;
      a
      {
        color: #8b8d94;
        border-radius: 100%;
        @extend %transition-200;
        width: 40px;
        height: 40px;
        @extend %flex-center-all;
        i
        {
          font-size: 18px;
          width: 40px;
          height: 40px;
          @extend %flex-center-all;

        }
        &:hover
        {
          background-color: $mc;
          color: #ffffff;
          @extend %transition-200;
        }
      }
    }
  }
  form
  {
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.26);
    border-radius: 40px;
    width: 100%;
    .form-group
    {
      width: 100%;

    }
    .input-group
    {
      width: 100%;
      .form-control
      {
        width: 100%;
        border: 0;
        box-shadow: none;
        height: 45px;
        border-radius: 40px;
        font-family: OpenSans-r;

      }
      .input-group-addon
      {
        padding: 0;
        background-color: #ffffff;
        border: 0;
        border-radius: 40px;
        border-top-left-radius:0 ;
        border-bottom-left-radius:0 ;
        button
        {
          background-color: #ffffff;
          color: #333;
          border: 0;
        }
      }
    }
  }
}
.poly
{
  float: left;
  width: 100%;
  padding: 30px 0;
  p
  {
    margin: 0;
    font-family: OpenSans-r;
    a
    {
      display: inline-block;
      color: $mc;
      @extend %transition-200;

      &:hover
      {
        color: #333333;
        @extend %transition-200;
      }
    }
  }
}