.carousel
{
  height: 650px;
  -moz-transform: translateY(-35px);
  -webkit-transform: translateY(-35px);
  -o-transform: translateY(-35px);
  -ms-transform: translateY(-35px);
  transform: translateY(-35px);
  margin-bottom: -60px;
  .carousel-inner
  {
    margin-bottom: 0;
    .item
    {
      height: 650px;
      margin-bottom: 0;
      .carousel-caption
      {
        width: 500px;
        height: 300px;
        bottom: 150px;
        text-align: left;
        left: auto;
        right: 15%;
        padding: 0;

        p
        {
          font-family: OpenSans-l;
          color: #333333;
          font-size: 20px;
          text-shadow: none;
          margin-top: 0;
          margin-bottom: 0;
          float: right;
          width: 100%;
          text-align: right;
        }
        h3
        {
          margin-top: 5px;
          font-family: OpenSans-b;
          font-size: 50px;
          text-shadow: none;
          color: $mc;
          float: right;
          width: 100%;
          text-align: right;

        }
        strong
        {
          color: #333333;
          font-size: 25px;
          float: right;
          width: 100%;
          font-family: OpenSans-b;
          text-shadow: none;
          text-align: right;
        }
        span
        {
          float: right;
          width: 100%;
          text-align: right;
          color: #444444;
          text-shadow: none;
          font-family: sou-b;
          margin-top: 10px;
        }
        a
        {
          font-family: sou-b;
          text-shadow: none;
          background-color: $mc;
          color: #ffffff;
          border-radius: 40px;
          padding: 15px 40px;
          margin-top:30px;
          @extend %transition-200;
          float: right;
          text-align: right;

          &:hover
          {
            background-color: #19aaab;
            @extend %transition-200;
          }
        }
      }
    }
    img
    {
      height: 650px;
      width: 100%;
      margin-bottom: 0;
    }

  }
  .carousel-control
  {

      @extend %flex-center-all;
      font-size: 50px;

  }
}

.appointment
{
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 100px;
  margin-top: 24px;
  &:after
  {
    content: "";
    position: absolute;
    height: 81px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #144995;
    z-index: -1;
  }
  .appointment-form
  {
    .header-appointment-form
    {
      float: left;
      width: 100%;
      height: 100%;
      background: #46bdf0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      h3
      {
        text-align: center;
        color: #ffffff;
        margin-bottom: 5px;
        font-family: OpenSans-b;
        position: relative;
        &:after
        {
          content: "";
          position: absolute;
          top: 5px;
          left: 40px;
          background-image: url(../images/layer-2.png);
          width: 30px;
          height: 40px;
          background-repeat: no-repeat;
        }
      }
      p
      {
        margin-top: 0;
        text-align: center;
        color: #ffffff;
        font-family: OpenSans-r;
      }
    }
  }
  form
  {
    float:left;
    background-color: #36a8d9;
    padding: 60px 40px;
    width: 100%;
    padding-bottom: 40px;
    text-align: center;
    .form-group
    {
      select
      {
        height: 50px;
        font-family: OpenSans-i;
      }
      input
      {
        height: 50px;
      }
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-family: OpenSans-i;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      font-family: OpenSans-i;
    }
    :-ms-input-placeholder { /* IE 10+ */
      font-family: OpenSans-i;
    }
    :-moz-placeholder { /* Firefox 18- */
      font-family: OpenSans-i;
    }
    button
    {
      background-color: #91d8f7;
      padding: 20px 40px;
      border-radius: 40px;
      border: 0;
      text-align: center;
      margin-top: 30px;
      display: inline-block;
      font-family: OpenSans-b;
      color: #ffffff;
      @extend %transition-200;
      &:hover
      {
        background-color: #09a25e;
        @extend %transition-200;
        color: #ffffff;
      }
    }
  }
  .appointment-text
  {
    .title-appointment
    {
      height: 81px;
      text-align: left;
      color: #ffffff;
      font-size: 15px;
      margin-left: 40px;
      padding-top: 30px;
      font-family: sou-r;
      &:after
      {
        content: "";
        position: absolute;
        top: 20px;
        left: 10px;
        width: 40px;
        height: 50px;
        background-repeat: no-repeat;

        background-image: url("../images/layer-3.png");
      }
      span
      {
        font-family: PRISTINA;
        font-size: 20px;
      }
    }
    h3
    {
      color: #44bdf0;
      font-size: 38px;
      font-family: OpenSans-b;
      word-spacing: 1px;
      letter-spacing: -2px;
      width: 80%;
    }
    h4
    {
      color: #414141;
      margin-top: 20px;
      margin-bottom: 30px;
      font-family: OpenSans-b;

    }
    p
    {
      font-family: sou-r;
      font-size: 16px;
      color: #555555;
      text-shadow: 0 1px 0 #999999;
      line-height: 28px;

    }
  }
}

.services
{
  float: left;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  h3
  {
    text-align: center;
    font-family: OpenSans-b;
    color: $mc;
    font-size: 35px;
    position: relative;
    &:after
    {
      position: absolute;
      top: -50px;
      left: 48%;
      background-repeat: no-repeat;
      background-image: url("../images/layer-4.png");
      content: "";
      width: 50px;
      height: 70px;
    }
  }
  h4
  {
    text-align: center;
    color: #333333;
    font-family: OpenSans-i;
  }
  ul
  {
    float: left;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
    li
    {
      margin: auto;
      text-align: center;
      float: left;
      width: 20%;
      img
      {
        width: 185px;
      }
      h5
      {
        font-family: OpenSans-b;
        font-size: 16px;
        margin-top: 20px;
        color: #333333;
      }
    }
  }
  a
  {
    padding: 20px 40px;
    background-color: $mc;
    font-size: 14px;
    color: #ffffff;
    border-radius: 40px;
    @extend %transition-200;
    font-family: OpenSans-b;
    &:hover
    {
      background-color: #09a25e;
      @extend %transition-200;
    }
  }
}
.team
{
  float: left;
  width: 100%;
  background-image: url("../images/bg.jpg");

  background-repeat: no-repeat;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 100px;
  h3
  {
    text-align: center;
    font-family: OpenSans-b;
    color: #ffffff;
    font-size: 35px;
    position: relative;
    &:after
    {
      position: absolute;
      top: -50px;
      left: 48%;
      background-repeat: no-repeat;
      background-image: url("../images/layer-10.png");
      content: "";
      width: 50px;
      height: 70px;
    }
  }
  h4
  {
    text-align: center;
    color: #ffffff;
    font-family: OpenSans-i;
  }
  p
  {
    width: 70%;
    margin: auto;
    color: #ffffff;
    font-size: 17px;
    margin-top: 20px;
    font-family: sou-r;
  }
  ul
  {
    float: left;
    width: 100%;
    margin-top: 60px;
    li
    {
      .box-img
      {
        position: relative;
        img
        {
          width: 100%;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
        h5
        {
          position: absolute;
          bottom: 25px;
          left: 0;
          background-color: #144995;
          padding: 15px 30px;
          width: 70%;
          color: #ffffff;
          border-top-right-radius: 20px;
          border-bottom-right-radius:20px;
          @extend %transition-200;

          a
          {
            padding: 0;
            display: block;
            margin: 0;
            background-color: transparent;
          }
          &:hover
          {
            width: 100%;
            @extend %transition-200;
            border-top-right-radius: 0px;
            border-bottom-right-radius:0px;
            background-color: $mc;
          }
        }

      }
      h2
      {
        font-size: 18px;
        font-family: OpenSans-b;
      }
    }
  }
  a
  {
    margin-top: 40px;
    display: inline-block;
    padding: 20px 40px;
    background-color: $mc;
    border-radius: 40px;
    color: #ffffff;
    text-transform: uppercase;
    @extend %transition-200;
    font-family: OpenSans-b;

    &:hover
    {
      background-color: #09a25e;
      @extend %transition-200;
    }
  }
}
.reviews
{
  float: left;
  width: 100%;
  background-image: url("../images/bg-2.jpg");
  background-color: #349b4f;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 65px;
  .reviews-form
  {
    background-color: #fff;
    height: 100%;
    width: 100%;
    float: left;
    padding-bottom: 35px;
    border-radius: 10px;

    h3
    {
      font-family: OpenSans-b;
      color: #09a25e;
      margin-top: 35px;
      margin-bottom: 35px;
      font-size: 25px;
    }
    .stars
    {

      width: 70%;
      background-color:#09a25e ;
      margin: auto;
      border-radius: 15px;
      padding: 10px 0;
      margin-bottom: 15px;
      li
      {
        display: inline-block;
        i
        {
          font-size: 25px;
          color: #ffffff;
        }
      }
      span
      {
        margin-left: 20px;
        font-size: 25px;
        color: #ffffff;
        font-family: OpenSans-b;
      }
    }
    .box-info
    {
      strong
      {
        color: #09a25e;
        font-size: 16px;
      }
      p
      {

        color: #000;
        font-family: OpenSans-b;
        font-size: 16px;
        margin-top: 15px ;
        margin-bottom: 25px;
      }
      h4
      {
        color: #000;
        font-size: 16px;
        line-height: 20px;
        font-family: OpenSans-b;
      }
      a
      {
        display: block;
        width: 60%;
        margin: auto;
        padding: 20px 40px;
        background-color: #46bdf0;
        margin-top: 40px;
        margin-bottom: 40px;
        border-radius: 30px;
        color: #ffffff;
        font-family: OpenSans-b;
        -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.26);
        -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.26);
        box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.26);
        @extend %transition-200;
        &:hover
        {
          background-color: #09a25e;

          @extend %transition-200;
        }
      }
      span
      {
        color: #1d1d1d;
        font-family: OpenSans-b;
        font-size: 18px;
      }
    }
    .soial-reviews
    {
      margin-top: 50px;
      li
      {
        display: inline-block;
        margin: 0 15px;
        a
        {
          color: #807a7a;
          @extend %transition-200;
          &:hover
          {
            color: $mc;
            @extend %transition-200;
          }
          i
          {
            font-size: 20px;
          }
        }
      }
    }

  }
}
.slider
{
  padding-top: 80px;
  div
  {
    outline: none;
  }
  h3
  {
    font-family: OpenSans-b;
    color: #ffffff;
    text-align: left;
    margin-left: 30px;
    font-size: 35px;
    span
    {
      margin-top: 10px;
      display: block;
      color:#4ce544;
      font-size: 16px;
    }
  }
  .box-img
  {
    margin-top: 30px;
    margin-bottom: 30px;
    img
    {
      border: 2px solid #ffffff;
      border-radius: 100%;
      width: 100%;
      height: 180px;
    }
    h2
    {
      font-size: 16px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 5px;
    }
    p
    {
      text-align: center;
      color: #d9d9d9;
      font-size: 14px;
      position: relative;

    }
  }
  .box-text
  {
    margin-top: 60px;
    p
    {
      text-align: left;
      color: #ffffff;
      font-size: 15px;
      margin-left: 20px;
      font-family: OpenSans-i;
      &:after
      {
        content: "";
        background-image: url("../images/layer-11.png");
        position: absolute;
        top:-10px;
        left: -10px;
        width: 40px;
        height: 80px;
        background-repeat: no-repeat;
      }
      &:before
      {
        content: "";
        background-image: url("../images/layer-12.png");
        position: absolute;
        bottom:-10px;
        right: -10px;
        width: 40px;
        height: 30px;
        background-repeat: no-repeat;
      }
    }
  }
  .autoplay
  {
    outline: none;
    .slick-arrow
    {
      position: absolute;
      bottom:37px;
      left: 0;
      background-color: transparent;
      border: 0;
      font-size: 40px;
      color: #ffffff;
      z-index: 99;
      outline: none;
    }
    .slick-next
    {
      position: absolute;
      bottom: 37px;
      left: 200px;
      background-color: transparent;
      border: 0;
      font-size: 40px;
      color: #ffffff;
      z-index: 99;
      outline: none;
    }
  }
}
.specialists
{
  float: left;
  width: 100%;
  a
  {
    margin-top: 15px;
    display: inline-block;
    background-color: #46bdf0;
    color: #ffffff;
    padding: 20px 40px;
    border-radius: 40px;
    text-transform: uppercase;
    font-family: OpenSans-b;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.26);
    @extend %transition-200;
    &:hover
    {
      background-color: #09a25e;

      @extend %transition-200;
    }
  }
}
.jq-stars {
  display: inline-block;
}

.jq-rating-label {
  font-size: 22px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-family: helvetica, arial, verdana;
}

.jq-star {
  width: 100px;
  height: 100px;
  display: inline-block;
  cursor: pointer;
}

.jq-star-svg {
  padding-left: 3px;
  width: 100%;
  height: 100% ;
}

.jq-star:hover .fs-star-svg path {
}

.jq-star-svg path {
  /* stroke: #000; */
  stroke-linejoin: round;
}

/* un-used */
.jq-shadow {
  -webkit-filter: drop-shadow( -2px -2px 2px #888 );
  filter: drop-shadow( -2px -2px 2px #888 );
}
.rate {
  background-color: #09a25e;
  padding: 5px 8px;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  height: 54px;
  margin-bottom: 10px;
  .my-rating
  {
    float: left;
    width: 80%;
  }
}
.text-rate
{
  float: right;

}
.live-rating
{
  margin-top: 0px;
  float: left;
  font-size: 33px;
  width: 20%;
  color: #ffffff;
  font-family: OpenSans-b;
}
