@media(min-width: 200px) and (max-width: 766px)
{
  html
  {
    width: 100%;
    float: left;
    overflow-x: hidden !important;
  }
  body
  {
    width: 100%;
    float: left;
    overflow-x: hidden !important;
  }
  header .container-info:before
  {
    display: none;
  }
  header .container-info:after
  {
    display: none;
  }
  .services ul li img
  {
    width: 100%;
  }
  header .logo img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
  header .header-info img
  {
    display: none;
  }
  header .container-info p:first-child
  {
    display: inline-block;
    text-align: left;
  }
  header .container-info p
  {
    display: none;
  }
  header .container-info .soial-top
  {
    display: none;
  }
  header .header-info
  {
    margin: auto;
  }
  header .navbar-default
  {
    position: absolute;
  }
  .carousel
  {
    margin-top: 90px;
  }
  header .navbar-default .navbar-nav.menu
  {
    margin: auto;
  }
  header .navbar-default .navbar-nav.menu li
  {
    display: block;
  }
  .carousel-caption
  {
    display: none;
  }
  .carousel
  {
    height: 250px;
  }
  .carousel .carousel-inner img
  {
    height: 250px;
  }
  .carousel .carousel-inner .item
  {
    height: 250px;
  }
  .appointment .appointment-text .title-appointment
  {
    display: none;
  }
  .appointment .appointment-text h3
  {
    width: 100%;
    font-size: 30px;
  }
  .appointment
  {
    margin-bottom: 30px;
  }
  .services ul li {
    margin: auto;
    text-align: center;
    float: left;
    width: 50%;
  }
  .team p
  {
    width: 100%;
  }
  .team ul
  {
    li
    {
      margin-bottom: 20px;
    }
  }
  .slider h3
  {
    margin-left: 10px;
  }
  .slider
  {
    padding-top: 30px;
  }
  .slider .box-img img
  {
    height: 300px;
  }
  .slider .box-text p:before
  {
    bottom: 0px;
  }
  .slider .box-text p:after
  {
    top: -40px;
    left: 20px;
  }
  .specialists
  {
    img
    {
      width: 100%;
    }
  }
  .slider .autoplay .slick-next {
    position: absolute;
    top: 100px;
    left: 311px;
    height: 100%;
  }
  .slider .autoplay .slick-arrow{
    height: 100%;
    top: 0;
  }
  .title-doctors,
  .title-2,
  .title-all,
  .title-contact,
  .title-special
  {
    margin-top: 70px;
    min-height: 115px;
  }
  .title-doctors,.title-doctors .l-side,.title-doctors .r-side,.title-doctors .r-side ul,
  .title-2,.title-2 .l-side,.title-2 .r-side,.title-2 .r-side ul,
  .title-all,.title-all .l-side,.title-all .r-side,.title-all .r-side ul,
  .title-contact,.title-contact .l-side,.title-contact .r-side,.title-contact .r-side ul
  .title-special,.title-special .l-side,.title-special .r-side,.title-special .r-side ul

  {
    min-height: 115px;
  }
  .title-doctors .r-side ul li a,
  .title-2 .r-side ul li a,
  .title-all .r-side ul li a,
  .title-contact .r-side ul li a,
  .title-special .r-side ul li a
  {
    font-size: 12px;
  }
  .title-doctors .r-side ul li,
  .title-2  .r-side ul li,
  .title-all  .r-side ul li,
  .title-contact  .r-side ul li,
  .title-special .r-side ul li
  {
    margin-left: 3px;
  }
  .search p
  {
    margin-bottom: 15px;
  }
  header .navbar-default
  {
    width: 92%;
  }
  .about .r-side .autoplay-2 .slick-next,.about .r-side .autoplay-2 .slick-prev
  {
    bottom: -30px;
  }
  .map ul
  {
    display: none;
  }
  .form-contact {
    background-size: cover;
  }
  .form-contact .form-footer
  {
    width: 100%;
  }
  .list-special
  {

  }
  .list-special ul
  {

  }
  .list-special ul li
  {
    width: 50%;
    float: left;
    margin-bottom: 45px;
    overflow: hidden;
    min-height: 230px;
  }
  .articles-special h2
  {
    width: 98%;
    font-size: 15px;
  }
  .articles-special span {
    line-height: 0.3;
    width: 6.5%;
    float: left;
    font-family: OpenSans-b;
    font-size: 35px;
    padding: 0px 0px;
    margin-top: 23px;
    color: #44bdf0;
    height: 100%;
    margin-left: -14px;
  }
  .list-special {
    margin-top: 50px;
    margin-bottom: 0px;
    float: left;
    width: 100%;
  }
  .btn {
    display: inline-block;
    padding: 6px 4px;
  }
}

@media(min-width:768px) and (max-width: 999px)
{
  .list-special ul li
  {
    width: 25%;
    float: left;
    margin-bottom: 45px;
    overflow: hidden;
    min-height: 230px;
  }

}

@media(min-width:1000px) and (max-width: 1230px)
{

}

@media(min-width:1200px) and (max-width: 1607px)
{

}
@media(min-width:1300px) and (max-width: 1607px)
{

}
@media(min-width:1340px) and (max-width: 1600px)
{

}


