 .title-all
 {
   float: left;
   width: 100%;
   background-image: url("../images/img-6.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   min-height: 225px;
   margin-top: -25px;
   position: relative;
   &:after
   {
     content: "";
     position: absolute;
     top: 0;
     right:0;
     width: 100%;
     height: 100%;
     background-color: rgba(00,00,00,0.6);
   }
   .l-side
   {
     display: flex;
     align-items: center;
     align-content: center;
     min-height: 225px;
     z-index: 99;
     p
     {
       color: #ffffff;
       font-family: OpenSans-b;
     }
     h3
     {
       font-family: OpenSans-b;
        margin-bottom: 5px;
       color: $mc;
     }
   }
   .r-side
   {
     z-index: 999;
     span
     {
       color: #ffffff;
     }
     ul
     {
       display: flex;
       justify-content: flex-end;
       align-items: center;
       align-content: flex-end;
       min-height: 225px;
       z-index: 99;
       li
       {
         float: left;
         text-align: right;
         color: #ffffff;
         margin-left: 10px;
         font-family: OpenSans-b;
         a
         {
           color: #ffffff;
           &.active
           {
             color: $mc;
           }
         }
       }
     }
   }
 }
 .about
 {
   float: left;
   width: 100%;
   margin-top: 50px;
   .l-side
   {
     img
     {
       width: 100%;
     }
   }
   .r-side
   {
     .autoplay-2
     {
       min-height: 370px;
       .slick-prev
       {
         position: absolute;
         bottom: 0;
         display: inline-block;
         left: 0;
         background-color: $mc;
         height: 35px;
         width: 35px;
         border: 0;
         border-radius: 5px;
         color: #ffffff;
         outline: none;

         @extend %transition-200;
         &:hover
         {
           background-color: #0c0c10;
           @extend %transition-200;
         }
       }
       .slick-next
       {
         position: absolute;
         bottom: 0;
         left: 40px;
         display: inline-block;
         background-color: $mc;
         height: 35px;
         width: 35px;
         border: 0;
         border-radius: 5px;
         color: #ffffff;
         @extend %transition-200;
         outline: none;
          &:hover
          {
            background-color: #0c0c10;
            @extend %transition-200;
          }
       }
       h2
       {
         color: $mc;
          font-size: 22px;
         font-family: OpenSans-b;
       }
       p
       {
         color: #555;
         font-family: sou-r;
         font-size: 15px;
       }
     }
   }
 }
 .how-is
 {
   float: left;
   width: 100%;
   margin-top: 50px;
   ul
   {
     li
     {
       @extend %flex-center-all;
       height: 375px;
       color: #ffffff;
       div
       {
        text-align: center;
       }
       &:first-child
       {
         background-color: #4fabc5;
       }
       &:nth-child(2)
       {
         background-color: #469cb5;
       }
       &:nth-child(3)
       {
         background-color: #357689;
       }
       p
       {
         font-family: sou-r;
         width: 80%;
         margin: auto;
         font-size: 16px;
       }
       h2
       {
         font-family: OpenSans-b;
       }
     }
   }
 }

 .spc
 {
   float: left;
   width: 100%;
   margin-top: 50px;
   margin-bottom: 50px;
   h2
   {
     font-family:OpenSans-b;
     color:$mc
   }
   p
   {
     color: #555555;
   }
 }