.clients
{
  float: left;
  width: 100%;
  margin-bottom: 40px;
  h3
  {
    display: block;
    background-color: #eaeaea;
    font-family: nun-b;
    text-align: center;
    padding: 12px 0;
    margin-bottom: 30px;
    color: #20536c;
  }
  ul
  {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    li
    {
      position: relative;
      display: inline-block;
      margin-right: 30px;
      height: 100px;
      text-align: center;
      img
      {
        margin: auto;
        width: 85px;
      }
      &:after
      {
        position: absolute;
        content: "";
        border-right:1px solid transparent ;
        height: 80%;
        width: 8px;
        right: -15px;
        -webkit-box-shadow: 7px 0px 17px -1px #e3e5e8;
        -moz-box-shadow:7px 0px 17px -1px #e3e5e8;
        box-shadow:7px 0px 17px -1px #e3e5e8;
      }
      &:last-child
      {
        &:after
        {
          display: none;
        }
      }
    }
  }
}