.title-contact
{
  float: left;
  width: 100%;
  background-image: url("../images/img-15.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 225px;
  margin-top: -25px;
  position: relative;
  &:after
  {
    content: "";
    position: absolute;
    top: 0;
    right:0;
    width: 100%;
    height: 100%;
    background-color: rgba(00,00,00,0.6);
  }
  .l-side
  {
    display: flex;
    align-items: center;
    align-content: center;
    min-height: 225px;
    z-index: 99;
    p
    {
      color: #ffffff;
      font-family: OpenSans-b;
    }
    h3
    {
      font-family: OpenSans-b;
      margin-bottom: 5px;
      color: $mc;
    }
  }
  .r-side
  {
    z-index: 999;
    span
    {
      color: #ffffff;
    }
    ul
    {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      align-content: flex-end;
      min-height: 225px;
      z-index: 99;
      li
      {
        float: left;
        text-align: right;
        color: #ffffff;
        margin-left: 10px;
        font-family: OpenSans-b;
        a
        {
          color: #ffffff;
          &.active
          {
            color: $mc;
          }
        }
      }
    }
  }
}
.map
{
  float: left;
  width: 100%;
  height: 650px;
  background-color: #cccccc;
  position: relative;
  ul
  {
    float: left;
    width: 80%;
    position: absolute;
    bottom: 50px;
    left: 10%;
    li
    {
      @extend %flex-center-all;
      background-color: #fafafa;
      height: 175px;
      &:nth-child(2)
      {
        background-color: #e8e7e7;
      }
      img
      {
        max-width: 100%;
        display: block;
        margin: auto;
      }
    }
  }
}





.form-contact
{
  background-image: url("../images/img-16.jpg");
  float: left;
  width: 100%;
  padding: 50px 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: -80px;
  h2
  {
    margin: 0;
    color: #ffffff;
    font-family: OpenSans-b;
    margin-bottom: 15px;
  }
  p
  {
    margin: 0;
    font-family: sou-r;
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 16px;
  }
  .form-group
  {
    input
    {
      height: 55px;
      border: 0;
      -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.17);
      -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.17);
      box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.17);
    }
  }
  .form-control
  {
    height: 55px;
    font-family: OpenSans-i;
    color: #787777;
    border: 0;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.17);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.17);
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: OpenSans-i;
    color: #aea9a9;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-family: OpenSans-i;
    color: #aea9a9;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-family: OpenSans-i;
    color: #aea9a9;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-family: OpenSans-i;
    color: #aea9a9;
  }
  .form-footer
  {
    width: 75%;
    margin: auto;
  }
  textarea
  {
    resize: none;
  }
  button
  {
    background-color: #1ba048;
    padding: 20px 40px;
    font-family: OpenSans-b;
    color: #ffffff;
    border: 0;
    border-radius: 40px;
    @extend %transition-200;
    &:hover
    {
      @extend %transition-200;
    }
  }
}
