 .title-2
 {
   float: left;
   width: 100%;
   background-image: url("../images/img-12.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   min-height: 225px;
   margin-top: -25px;
   position: relative;
   margin-bottom: 50px;
   &:after
   {
     content: "";
     position: absolute;
     top: 0;
     right:0;
     width: 100%;
     height: 100%;
   }
   .l-side
   {
     display: flex;
     align-items: center;
     align-content: center;
     min-height: 225px;
     z-index: 99;
     p
     {
       color: #ffffff;
       font-family: OpenSans-b;
     }
     h3
     {
       font-family: OpenSans-b;
        margin-bottom: 5px;
       color: $mc;
     }
   }
   .r-side
   {
     z-index: 999;
     span
     {
       color: #ffffff;
     }
     ul
     {
       display: flex;
       justify-content: flex-end;
       align-items: center;
       align-content: flex-end;
       min-height: 225px;
       z-index: 99;
       li
       {
         float: left;
         text-align: right;
         color: #ffffff;
         margin-left: 10px;
         font-family: OpenSans-b;
         a
         {
           color: #ffffff;
           &.active
           {
             color: $mc;
           }
         }
       }
     }
   }
 }
.hollywood
{
  float: left;
  width: 100%;
  margin-bottom: 30px;

  h2
  {
    background-color: $mc;
    padding: 4px 10px;
    display: block;
    width: 100%;
    color: #ffffff;
    font-family: OpenSans-b;
    font-size: 36px;
    position: relative;
    &:after
    {
      content: "";
      position: absolute;
      -moz-transform: skewX(25deg);
      -webkit-transform: skewX(25deg);
      -o-transform: skewX(25deg);
      -ms-transform: skewX(25deg);
      transform: skewX(25deg);
      background-color: $mc;
      right: -12px;
      top: 0;
      width: 40px;
      height: 100%;

    }
  }
  p
  {
    color: #555555;
    font-family: sou-r;
    font-size: 15px;
    padding: 0px 15px;
    text-shadow: 0 1px 1px #a6a6a6;
  }
  ul
  {
    li
    {
      display: block;
      width: 100%;
      font-family: sou-r;
      font-size: 15px;
      color: #555555;
      padding-left: 30px;
      position: relative;
      text-shadow: 0 1px 1px #a6a6a6;
      &:after
      {
        content: "";
        position: absolute;
        top:10px;
        left: 15px;
        width: 4px;
        height: 4px;
        background-color: #555555;
        border-radius: 100%;
      }

    }
  }
  img
  {
    width: 100%;
    display: block;
  }
}
.hollywood-two
{
  float: left;
  width: 100%;
  margin-bottom: 30px;

  h2
  {
    background-color: $mc;
    padding: 4px 10px;
    display: block;
    width: 100%;
    color: #ffffff;
    font-family: OpenSans-b;
    font-size: 36px;
    position: relative;
    &:after
    {
      content: "";
      position: absolute;
      -moz-transform: skewX(25deg);
      -webkit-transform: skewX(25deg);
      -o-transform: skewX(25deg);
      -ms-transform: skewX(25deg);
      transform: skewX(25deg);
      background-color: $mc;
      right: -12px;
      top: 0;
      width: 40px;
      height: 100%;

    }
  }
  p
  {
    color: #555555;
    font-family: sou-r;
    font-size: 15px;
    padding: 0px 15px;
    text-shadow: 0 1px 1px #a6a6a6;
  }
  ul
  {


    li
    {
      display: block;
      width: 100%;
      font-family: sou-r;
      font-size: 15px;
      color: #555555;
      padding-left: 30px;
      position: relative;
      text-shadow: 0 1px 1px #a6a6a6;
      &:after
      {
        content: "";
        position: absolute;
        top:10px;
        left: 15px;
        width: 4px;
        height: 4px;
        background-color: #555555;
        border-radius: 100%;
      }

    }
  }
  img
  {
    width: 100%;
    display: block;
  }
}
 .hollywood-three
{
  float: left;
  width: 100%;
   margin-bottom: 100px;
  h2
  {
    background-color: $mc;
    padding: 4px 10px;
    display: block;
    width: 100%;
    color: #ffffff;
    font-family: OpenSans-b;
    font-size: 36px;
    position: relative;
    &:after
    {
      content: "";
      position: absolute;
      -moz-transform: skewX(25deg);
      -webkit-transform: skewX(25deg);
      -o-transform: skewX(25deg);
      -ms-transform: skewX(25deg);
      transform: skewX(25deg);
      background-color: $mc;
      right: -12px;
      top: 0;
      width: 40px;
      height: 100%;

    }
  }
  p
  {
    color: #555555;
    font-family: sou-r;
    font-size: 15px;
    padding: 0px 15px;
    text-shadow: 0 1px 1px #a6a6a6;
  }
  ul
  {


    li
    {
      display: block;
      width: 100%;
      font-family: sou-r;
      font-size: 15px;
      color: #555555;
      padding-left: 30px;
      position: relative;
      text-shadow: 0 1px 1px #a6a6a6;
      &:after
      {
        content: "";
        position: absolute;
        top:10px;
        left: 15px;
        width: 4px;
        height: 4px;
        background-color: #555555;
        border-radius: 100%;
      }

    }
  }
  img
  {
    width: 100%;
    display: block;
  }
}