.title-doctors
{
  float: left;
  width: 100%;
  background-image: url("../images/img-14.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 225px;
  margin-top: -25px;
  position: relative;
  &:after
  {
    content: "";
    position: absolute;
    top: 0;
    right:0;
    width: 100%;
    height: 100%;
    background-color: rgba(00,00,00,0.6);
  }
  .l-side
  {
    display: flex;
    align-items: center;
    align-content: center;
    min-height: 225px;
    z-index: 99;
    p
    {
      color: #ffffff;
      font-family: OpenSans-b;
    }
    h3
    {
      font-family: OpenSans-b;
      margin-bottom: 5px;
      color: $mc;
    }
  }
  .r-side
  {
    z-index: 999;
    span
    {
      color: #ffffff;
    }
    ul
    {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      align-content: flex-end;
      min-height: 225px;
      z-index: 99;
      li
      {
        float: left;
        text-align: right;
        color: #ffffff;
        margin-left: 10px;
        font-family: OpenSans-b;
        a
        {
          color: #ffffff;
          &.active
          {
            color: $mc;
          }
        }
      }
    }
  }
}
.search
{
  background-color: #efefef;
  float: left;
  width: 100%;
  padding: 40px 0;
  h2
  {
    margin: 0;
    color: $mc;
    font-family: OpenSans-b;
  }
  p
  {
    margin: 0;
    font-family: OpenSans-b;
    color:#333333;
  }
  .form-group
  {
    input
    {
      height: 45px;
      border: 0;
      -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.17);
      -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.17);
      box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.17);
    }
  }
  .form-control
  {
    height: 45px;
    font-family: OpenSans-i;
    color: #787777;
    border: 0;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.17);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.17);
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: OpenSans-i;
    color: #aea9a9;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-family: OpenSans-i;
    color: #aea9a9;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-family: OpenSans-i;
    color: #aea9a9;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-family: OpenSans-i;
    color: #aea9a9;
  }
}
.list-doctors
{
  float: left;
  width: 100%;
  margin-bottom: 70px;
  ul
  {
    li
    {
      float: left;
      width: 100%;
      padding: 50px 0;
      &:nth-child(odd)
      {
        background-color: #ffffff;
      }
      &:nth-child(even)
      {
        background-color: #efefef;
      }
      img
      {
        height: 350px;
      }
      p
      {
        color: #555555;
        text-shadow: 0 1px 1px #a6a6a6;
        font-family: sou-r;
        font-size: 18px;
      }
      h3
      {
        color: $mc;
        margin-top: 30px;
        font-family: OpenSans-b;
      }
    }
  }
}