 .title-special
 {
   float: left;
   width: 100%;
   background-image: url("../images/img-13.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   min-height: 225px;
   margin-top: -25px;
   position: relative;
   &:after
   {
     content: "";
     position: absolute;
     top: 0;
     right:0;
     width: 100%;
     height: 100%;
     background-color: rgba(00,00,00,0.6);
   }
   .l-side
   {
     display: flex;
     align-items: center;
     align-content: center;
     min-height: 225px;
     z-index: 99;
     p
     {
       color: #ffffff;
       font-family: OpenSans-b;
     }
     h3
     {
       font-family: OpenSans-b;
        margin-bottom: 5px;
       color: $mc;
     }
   }
   .r-side
   {
     z-index: 999;
     span
     {
       color: #ffffff;
     }
     ul
     {
       display: flex;
       justify-content: flex-end;
       align-items: center;
       align-content: flex-end;
       min-height: 225px;
       z-index: 99;
       li
       {
         float: left;
         text-align: right;
         color: #ffffff;
         margin-left: 10px;
         font-family: OpenSans-b;
         a
         {
           color: #ffffff;
           &.active
           {
             color: $mc;
           }
         }
       }
     }
   }
 }
 .list-special
 {
   margin-top: 50px;
   margin-bottom: 80px;
   float: left;
   width: 100%;
   ul
   {
     position: relative;
     float: left;
     width: 100%;
     li
     {
       float: left;
       width: 12.5%;
       img
       {
         width: 80%;
         margin: auto;
         display: block;
       }
       h4
       {
         width: 80%;
         text-align: center;
         margin: auto;
         font-size: 16px;
         color: #134894;
         font-family: OpenSans-b;
         margin-top: 15px;
       }
     }
     &:after
     {
       position: absolute;
       content: "";
       top: 50px;
       left: -3%;
       width: 105%;
       background-color: #ffffff;
       height: 85%;
       z-index: -1;
       -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.38);
       -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.38);
       box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.38);
     }
   }
 }
 .articles-special
 {
   float: left;
   width: 100%;
   .container-articles-special
   {
     padding: 15px 20px;
     float: left;
     width: 100%;
     background-color: #e4f7ff;
     margin-bottom: 20px;
   }
   h2 {
     margin-top: 10px;
     background-color: #44bdf0;
     padding: 10px 10px;
     float: left;
     width: 95%;
     color: #ffffff;
     font-family: OpenSans-b;
     font-size: 27px;
     position: relative;
     &:after {
       content: "";
       position: absolute;
       -moz-transform: skewX(25deg);
       -webkit-transform: skewX(25deg);
       -o-transform: skewX(25deg);
       -ms-transform: skewX(25deg);
       transform: skewX(25deg);
       background-color: $mc;
       right: -12px;
       top: 0;
       width: 40px;
       height: 100%;
     }
   }
   span
   {
     line-height: 0.3;
     width: 6.5%;
     float: left;
     font-family: OpenSans-b;
     font-size: 51px;
     padding: 0px 0px;
     margin-top: 27px;
     color: #44bdf0;
     height: 100%;
     margin-left: -14px;
   }
   p
   {
     color: #555555;
     text-shadow: 0 1px 1px #a6a6a6;
     font-size: 15px;
     font-family: sou-r;
   }
   strong
   {
     display: block;
     width: 100%;
     color: $mc;
     text-shadow: none;
     font-family: sou-r;
   }
   ul
   {
     li
     {
       color: #555555;
       text-shadow: 0 1px 1px #a6a6a6;
       font-size: 15px;
       font-family: sou-r;
       position: relative;
       margin-left: 10px;
       &:after
       {
         content: "";
         width: 4px;
         height: 4px;
         background-color: $mc;
         border-radius: 100%;
         position: absolute;
         top: 10px;
         left: -15px;

       }
     }
   }
   h5
   {
     display: block;
     width: 100%;
     color: $mc;
     text-shadow: none;
     font-family: OpenSans-b;
     font-size: 14px;
     text-shadow: 0 1px 1px #a6ddf8;
   }
 }