@font-face{
	font-family: FontAwesome;
	src: url("../../fonts/FontAwesome.otf");
}
@font-face{
	font-family: sou-r;
	src: url("../../fonts/DroidKufi-Regular.ttf");
}
@font-face{
	font-family: OpenSans-i;
	src: url("../../fonts/DroidKufi-Regular.ttf");
}
@font-face{
	font-family: sou-b;
	src: url("../../fonts/Swissra Condensed Bold.otf");
}
@font-face{
	font-family: OpenSans-b;
	src: url("../../fonts/Swissra Condensed Bold.otf");
}
@font-face{
	font-family: OpenSans-l;
	src: url("../../fonts/Swissra Condensed Light.otf");
}
@font-face{
	font-family: OpenSans-r;
	src: url("../../fonts/DroidKufi-Regular.ttf");
}
@font-face{
	font-family: PRISTINA;
	src: url("../../fonts/DroidKufi-Regular.ttf");
}
