header
{
  z-index: 99999;
  position: relative;
  padding-top: 0px;
  .logo
  {
    padding-top: 10px;
    img
    {
      width: 130px;
    }
  }
  .container-info
  {
    background: $mc;
    padding: 12px 20px ;
    position: relative;
    p
    {
      float: right;
      margin-bottom: 0;
      color: #ffffff;
      font-family: sou-r;
      font-size: 15px;
      i
      {
        margin-left: 10px;
      }
      &:first-child
      {
        margin-left: 40px;
      }

    }
    .soial-top
    {
      float: right;
      li
      {
        float: right;
        margin-right: 15px;
        height: 25px;
        width: 25px;
        a
        {
          color: #ffffff;
          height: 25px;
          width: 25px;
          border-radius: 3px;
          @extend %flex-center-all;
          @extend %transition-200;
          &:hover
          {
            color: $mc;
            background-color: #ffffff;
            @extend %transition-200;

          }
        }
      }
    }
    .dropdown
    {
      float: left;
      button
      {
        background-color: transparent;
        border: none;
        color: #ffffff;
        outline: none;
        img
        {
          width: 40px;
          height: 25px;
          margin-left: 10px;
        }
        a
        {
          color: #ffffff;
        }
      }

      &.open
      {
        .dropdown-menu
        {
          border-radius: 0;
          margin: 12px 0 0;
          padding: 0;
          border: 0;
          a
          {
            display: block;
            padding: 5px 2px;
            color: #000000;
            @extend %transition-200;
            img
            {
              width: 40px;
              height: 25px;
              margin-left: 10px;
            }
            &:hover
            {
              background-color: $mc;
              @extend %transition-200;
            }
          }
        }
      }
    }
    &:after
    {
      content: '';
      background: #44bdf0;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      right: 100%;
    }
    &:before
    {
      content: '';
      background: #44bdf0;
      height: 100%;
      width: 50px;
      position: absolute;
      top: 0;
      right: -25px;
      -moz-transform: skewX(-25deg);
      -webkit-transform: skewX(-25deg);
      -o-transform: skewX(-25deg);
      -ms-transform: skewX(-25deg);
      transform: skewX(-25deg);
      z-index: -1;
    }
  }
  .navbar-default
  {
    background-color: #ffffff !important;
    border: 1px solid $mc!important;
    border-radius: 0;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 65px;
    width: 85%;
    margin: auto;
    margin-top: 15px;
    -webkit-box-shadow: 0px -1px 23px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px -1px 23px 0px rgba(0,0,0,0.31);
    box-shadow: 0px -1px 23px 0px rgba(0,0,0,0.31);

    .navbar-nav
    {
      &.menu
      {
        padding-top: 5px;
        text-align: center;
        width: 100%;
        li
        {
          font-family: OpenSans-b;
          position: relative;
          margin-left: 10px;
          float: none;
          display: inline-block;
          a
          {
            float: none;
            color: #333333;
            @extend %transition-200;
            text-transform: uppercase;
            &:hover
            {
              color: $mc;
              @extend %transition-200;
            }
          }
        }
      }
    }
  }
  .header-info
  {
    float: right;
    margin-right: 120px;
    padding-top: 0px;
    img
    {
      width: 210px;
    }
    a
    {
      background-color: $mc;
      border-radius: 40px;
      color: #ffffff;
      padding: 16px 40px;
      margin-right: 80px;
      margin-top: 12px;
      display: inline-block;
      font-family: OpenSans-b;
      @extend %transition-200;

      &:hover
      {
        color: #ffffff;
        background-color: #09a25e;
        @extend %transition-200;

      }
    }
  }
}